<script type="module">
    import UserApi from "../api/userApi";
    const response = await UserApi.getMe();
    let element = document.querySelector("#NavBarButtons");

    element.innerHTML =
        response.status == 200
            ? `<li><a class="btn rounded-circle" href="/add-book">+</a></li>
        <li><a href="/profile"><image src="assets/user-image.jpg" class="d-inline-block align-text-top mx-auto" height="35"</a></li>`
            : '<li><a class="btn btn-outline-ligh" href="/login">Log in</a></li>';
</script>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" href="/">LibreBook</a>
        </div>

        <form action="/" class="d-flex center" role="search" id="SearchForm">
            <input
                class="form-control me-2"
                name="search"
                placeholder="Search"
            />
            <button class="btn active" type="submit">Search</button>
        </form>
        <ul class="navbar-nav right" id="NavBarButtons"></ul>
    </div>
</nav>
